
<div class="addgame" *ngIf="showAddGame">
	<h3>Add game</h3>
	<tournamentlist #tournamentName></tournamentlist>
	
	<div class="group">
		<label>Home team</label>
		<select #homePlayer1>
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<select #homePlayer2>
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<select #homePlayer3 style="display:none;">
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<label>goals</label>
		<input type="text" maxlength="2" size="2" #homeGoals />
	</div>
	<div class="group">
		<label>Away team</label>
		<select #awayPlayer1>
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<select #awayPlayer2>
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<select #awayPlayer3 style="display:none;">
			<option value="">Add player</option>
			<option *ngFor=" let player of players" [value]="player.name">{{player.name}}</option>
		</select>
		<label>goals</label>
		<input type="text" maxlength="2" size="2" #awayGoals/>
	</div>
	<div class="group">
		<button type="button" class="btn btn-default"
			(click)="saveGame(tournamentName.getSelected(), 
							homePlayer1.value, homePlayer2.value, homePlayer3.value,
							homeGoals.value,
							awayPlayer1.value, awayPlayer2.value, awayPlayer3.value,
							awayGoals.value);">Add</button>
	</div>
</div>

<input type="button" *ngIf="!showAddGame" (click)="showAddGame = !showAddGame;" value="Add game" />
<div class="group">						
	<h3>Played games</h3>
	
	<table class="tournamentTable">
		<tr *ngFor="let game of games; let i = index">
			<td class="right" >
				<b *ngIf="game.timeMillis > 1 && dateChanged(game.timeMillis, i)">{{game.timeMillis | date: 'dd.MM.yyyy'}}</b>
				<b *ngIf="game.timeMillis == 1">-</b>
			</td>			
			<td class="right">{{game.homePlayers}}</td>
			<td>-</td>
			<td>{{game.awayPlayers}}</td>
			<td class="right">{{game.homeGoals}}</td>
			<td>-</td>
			<td>{{game.awayGoals}}</td>
		</tr>
	
	</table>
	
</div>			
						